<div class="page-top-offset"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" routerLink="/login">
Employee Management System
</a>
</nav>
<div class="row">
<div class="container-fluid" align="center">
<div class="col-md-4 col-md-offset-4">
<div class="home-register-bg">

    <h3 class="title">Login</h3>

  <form [formGroup]="loginForm" class="form" (ngSubmit)="book()">
      <div align="left">
        <label >Email Id</label>
        <input type="text" class="form-control" formControlName="loginId" />
        <div *ngIf="loginForm.get('loginId').invalid && loginForm.get('loginId').dirty">
          <strong class="text-danger">Enter an email</strong>
  </div>
      </div>
      <div align="left">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" />
        <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').dirty">
          <strong class="text-danger">Enter the pasword</strong>
        </div>
      </div>
      
    <br>
      <button class="btn btn-primary">Login</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
    </form>

</div>
</div>
</div>