<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/index">
          Employee Management System
      </a>
    
      <button class="navbar-toggler" type="button"
              (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    
      <div class="collapse navbar-collapse"
           [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
            <a class="nav-link"  routerLink="/create">Create Details</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/index">All Details</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/manager">Search By Manager Id</a>
            </li>
            
        </ul>
        <ul class="navbar-nav navbar-right">
          <li><a routerLink="/login" class="">Logout</a>
          </li>
         
      </ul>
      </div>
  </nav>
  </div>
  <div class="container">  
      <div class="card">
          <div class="card-body">
<form [formGroup]="managerSearchForm" class="form" (ngSubmit)="search()">
  <div align="left">
    <label>Enter Manager Id</label>
    <input type="text" class="form-control" formControlName="manager_id" #manager_id/>
    <div *ngIf="managerSearchForm.get('manager_id').invalid && managerSearchForm.get('manager_id').dirty">
      <strong class="text-danger">Enter the Manager Id</strong>
    </div>
</div>
<br>
    <div>
      <a [routerLink]="['/Resultmanager', manager_id.value]" class="btn btn-primary">Search</a>
    </div>
</form>
</div>
</div>
</div>