<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
          Employee Management System
      </a>
    
      <button class="navbar-toggler" type="button"
              (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    
      <div class="collapse navbar-collapse"
           [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
            <a class="nav-link"  routerLink="/create">Create Details</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/index">All Details</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/manager">Search By Manager Id</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/name">List of Employees</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li><a routerLink="/login" class="">Logout</a>
          </li>
         
      </ul>
      </div>
  </nav>
  </div>
<table class="table table-hover">
<thead>
<tr>
    <th>Employee Name</th>

</tr>
</thead>

<tbody>
    <tr *ngFor="let ademployee of ademployees">
        <td>{{ ademployee.employee_name }}</td>

    </tr>
</tbody>
</table>
